 #wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -17rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 17rem;
  font-size:1.1rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 1280px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -17rem;
  }
}

.sidebar-heading{
	font-weight:bold;
}

.bg-dark{
	color:white !important;
}

.alert{
	width:40%;
}

.container .table a{
	color:black;
	
}
.container .table a:hover{
	  text-decoration: underline;
}

.material-icons{
	display:inline-flex;
	vertical-align:top;
}

.highlight
{
    border: 1px solid red !important;
}

.card-table{

  height:350px;
  font-size:15px;

}



