<th:block th:include="layout :: top"></th:block>
<th:block th:include="layout :: menu"></th:block>

<div id="page-content-wrapper">

<h1>Brand Manager</h1>
	
<div sec:authorize="hasAnyAuthority('ADMIN')">
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Add Brand
</button>
	
	<br/><br/>
	<table border="1" cellpadding="10">
		<thead>
			<tr>
				<th>Brand ID</th>
				<th>Brand</th>
				
				<th sec:authorize="hasAnyAuthority('ADMIN')">Actions</th>				
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="brand : ${listBrands}">
				<td th:text="${brand.id}">Brand ID</td>
				<td th:text="${brand.name}">Name</td>
				
				<td sec:authorize="hasAnyAuthority('ADMIN')">
				<a th:href="@{/findBrand/(id=${brand.id})}" class="btn btn-warning eBrand">Edit</a>		
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a sec:authorize="hasAuthority('ADMIN')" th:href="@{'/delete_brand/' + ${brand.id}}">Delete</a>
				</td>
				
			</tr>
		</tbody>
	</table>
</div>
    </div>
    
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="#" th:action="@{/save_brand}" th:object="${brand}" method="post">
      <div class="modal-body">
      
			<table border="0" cellpadding="10">
				<tr>
					<td>Brand Name:</td>
					<td><input type="text" th:field="*{name}" /></td>
				</tr>			
			</table>
			
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
      </form>
    </div>
  </div>
</div>
	
    
    <!-- /#page-content-wrapper -->
    
    <!-- Modal -->
      <div class="editBrandForm">
        <form action="#" method="post" th:action="@{/save_brand}" th:object="${brand}">
            <div aria-hidden="true" aria-labelledby="editBrandModalLabel" class="modal fade"
                 id="editBrandModal" role="dialog"
                 tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editBrandModalLabel">Update or
                                Create</h5>
                            <button aria-label="Close" class="close" data-dismiss="modal"
                                    type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-form-label" for="id">ID:</label>
                                <input class="form-control" id="id" name="id" type="text" value=""/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label" for="name">Name:</label>
                                <input class="form-control" id="name" th:field="*{name}"  name="name" type="text" value=""/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal"
                                    type="button">Close
                            </button>
                            <input class="btn btn-primary" type="submit" value="save"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
  <th:block th:include="layout :: script"></th:block>