<th:block th:include="layout :: top"></th:block>
<th:block th:include="layout :: menu"></th:block>

<div id="page-content-wrapper">


      <div class="row mb-3 ml-2 mr-2" >
                <div class="col-xl-3 col-sm-6 py-2">
                    <div class="card  border-dark text-dark h-100">
                        <div class="card-body bg-light">
                            <div class="rotate">
                                <i class="material-icons">list_alt</i>
                            </div>
                            <h6 class="text-uppercase">Orders</h6>
                            <h1 class="display-4" th:text="${#lists.size(listOrders)}"></h1>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 py-2">
                    <div class="card  border-dark text-dark h-100">
                        <div class="card-body bg-light">
                            <div class="rotate">
                                <i class="material-icons">inventory_2</i>
                            </div>
                            <h6 class="text-uppercase">Products</h6>
                            <h1 class="display-4"th:text="${#lists.size(listProduct)}" ></h1>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 py-2">
                    <div class="card  border-dark text-dark h-100">
                        <div class="card-body bg-light" >
                            <div class="rotate">
                               <i class="material-icons">account_box</i>
                            </div>
                            <h6 class="text-uppercase">Customers</h6>
                            <h1 class="display-4" th:text="${#lists.size(listCustomers)}"></h1>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 py-2">
                    <div class="card  border-dark text-dark 100">
                        <div class="card-body bg-light" >
                            <div class="rotate">
                                <i class="material-icons">category</i>
                            </div>
                            <h6 class="text-uppercase">Brands</h6>
                            <h1 class="display-4" th:text="${#lists.size(listBrands)}"></h1>
                        </div>
                    </div>
                </div>
            </div>
       <div class="row mb-3 ml-2 mr-2 py-4">
       
          <div class="col-xl-3 col-sm-6 py-2 ">
        <div class="card">
        <div class="card-header">New Orders</div>
            <table cellpadding="10" class="card-table table  ">
		<thead class="">
			<tr>
			<th>
    			OrderID
			</th>
			<th>
    			Name
			</th>	
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="order, iterStat : ${listOrders}" th:if="${iterStat.index >= iterStat.size-5}">
				<td th:text="${order.id}">OrderID</td>
				<td th:text="${order.customer.name}">Name</td>
			</tr>
		</tbody>
	</table>
	</div>
	</div>
        <div class="col-xl-3 col-sm-6 py-2 ">
        <div class="card">
        <div class="card-header">New Products</div>
            <table cellpadding="10" class="card-table table  ">
		<thead >
			<tr>
			<th>
    			Product ID
			</th>
			<th>
    			Name
			</th>
			<th>
    			Brand
			</th>
				<th>
    			Category
			</th>			
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="product, iterStat : ${listProduct}" th:if="${iterStat.index >= iterStat.size-5}">
				<td th:text="${product.id}">Product ID</td>
				<td th:text="${product.name}">Name</td>
				<td th:text="${product.brands.name}">Brand</td>
				<td th:text="${product.category.categoryName}">Category</td>
			</tr>
		</tbody>
	</table>
	</div>
	</div>
	
	   <div class="col-xl-3 col-sm-6 py-2 ">
        <div class="card">
        <div class="card-header">New Customers</div>
            <table cellpadding="10" class="card-table table  ">
		<thead class="">
			<tr>
			<th>
    			CustomerID
			</th>
			<th>
    			Name
			</th>	
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="customer, iterStat : ${listCustomers}" th:if="${iterStat.index >= iterStat.size-5}">
				<td th:text="${customer.id}">CustomerID</td>
				<td th:text="${customer.name}">Name</td>
			</tr>
		</tbody>
	</table>
	</div>
	</div>
	
	   <div class="col-xl-3 col-sm-6 py-2 ">
        <div class="card">
        <div class="card-header">New Brands</div>
            <table cellpadding="10" class="card-table table  ">
            		
		<thead>
			<tr>
			<th>
    			BrandID
			</th>
			<th >
    			Name
			</th>	
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="brand, iterStat : ${listBrands}" th:if="${iterStat.index >= iterStat.size-5}">
				<td th:text="${brand.id}">BrandID</td>
				<td th:text="${brand.name}">Name</td>
			</tr>
		</tbody>
	</table>
	</div>
	</div>
	</div>     
            <!--/row-->
    <!-- End Main content -->
    <style>
    	.card {
    overflow:hidden;
}

.card .material-icons{
font-size:100px;
color: #2E8B57;
 position: absolute;
    left: auto;
    right: 5px;
    bottom: 0;
    display: block;
}


    </style>


</div>
<th:block th:include="layout :: script"></th:block>