<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<title>Product Manager</title>
</head>
<body>
<div align="center">	
	<div sec:authorize="isAuthenticated()">
		Welcome <b><span sec:authentication="name">Username</span></b>
		&nbsp;
		<i><span sec:authentication="principal.authorities">Roles</span></i>
	</div>
		
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Logout" />
	</form>
	
	<h1>Product Manager</h1>
	<div sec:authorize="hasAnyAuthority('ADMIN')">
		<a href="new">Create New Product</a>
	</div>
	
	<div sec:authorize="hasAnyAuthority('ADMIN')">
		<a href="brands">Brand</a>
	</div>
	
	<div sec:authorize="hasAnyAuthority('ADMIN')">
		<a href="category">Categories</a>
	</div>
	
	<br/><br/>
	<div class="container">
	<table cellpadding="10" class="table table-hover table-bordered">
		<thead>
			<tr>
				<th>Product ID</th>
				<th>Name</th>
				<th>Brand</th>
				<th>Quantity</th>
				<th>Price</th>
				<th>Attribute</th>
				
				<th sec:authorize="hasAnyAuthority('ADMIN')">Actions</th>				
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="product : ${listProducts}">
				<td th:text="${product.id}">Product ID</td>
				<td th:text="${product.name}">Name</td>
				<td th:text="${product.brand}">Brand</td>
				<td th:text="${product.qty}">Quantity</td>
				<td th:text="${product.price}">Price</td>
				<td th:text="${product.attribute}">Attribute</td>
				
				<td sec:authorize="hasAnyAuthority('ADMIN')">
					<a th:href="@{'/edit/' + ${product.id}}">Edit</a>			
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a sec:authorize="hasAuthority('ADMIN')" th:href="@{'/delete/' + ${product.id}}">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>