<th:block th:include="layout :: top"></th:block>
<th:block th:include="layout :: menu"></th:block>

<div id="page-content-wrapper" class="container-fluid">

	<h1>Order Management</h1>


<div class="container">
<div sec:authorize="hasAnyAuthority('ADMIN')" class="mb-3 float-right">
	<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#addOrderModal">
  Add Order<i class="material-icons">add</i>
	</button>
	</div>
	<table cellpadding="10" class="table table-striped">
		<thead >
			<tr>
				<th>Order ID</th>
				<th>Date</th>
				<th>Total</th>
				<th>Paid Status</th>
				<th>Customer</th>
				<th>OrderDetails</th>
				<th sec:authorize="hasAnyAuthority('ADMIN')">Actions</th>				
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="order : ${listOrder}">
				<td th:text="${order.id}">Order ID</td>
				<td th:text="${order.dateTime}">Date</td>
				<td th:text="${order.total} + ' Ft'">Total</td>
				<td th:text="${order.paidStatus}">PaidStatus</td>
				<td th:text="${order.customer.name}">Customer</td>
				<td>
		            <p th:each="orderItem : ${order.orderItems}">
		            	<span th:text="${orderItem.product.brands.name}">CatName</span>
		                <span th:text="${orderItem.product.name}">Street</span>
		                <span th:text="${orderItem.qty} + 'db'">City</span>
		                <span th:text="${orderItem.amount} + 'Ft'">ZIP</span>
		            </p>
		        </td>

				
				<td sec:authorize="hasAnyAuthority('ADMIN')">
					<a th:href="@{/findOrder/(id=${order.id})}" class="btn text-success editOrder">
						<i class="material-icons">create</i></a>			
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a sec:authorize="hasAuthority('ADMIN')" th:href="@{'/delete/' + ${order.id}}">
						<i class="material-icons text-danger">delete</i></a>
						
						<td sec:authorize="hasAnyAuthority('ADMIN')">
					<button th:href="@{/findOrder/(id=${order.id})}" data-toggle="modal" type="button"class="btn text-success" data-target="#detailsModal")>
						<i class="material-icons">create</i></button>		
						
				</td>
			</tr>
		</tbody>
	</table>
	</div>
    </div>
    
    <!-- /#page-content-wrapper -->
    
    
        <!-- /#page-content-wrapper -->
    
	 <div class="modal fade" id="addOrderModal" tabindex="-1" role="dialog" aria-labelledby="addOModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addOModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="#" th:action="@{/save_order}" th:object="${order}" method="post">
      <div class="modal-body">
      
			<table border="0" cellpadding="10" id="myTable">
					<tr>Customer</tr>
					<tr><select name="customerId" th:field="*{customer}" class="form-control" >
						<th:block th:each="customer : ${listCustomers}">
							<option th:text="${customer.name}" th:value="${customer.id}"/>
						</th:block>
					</select>
					</tr>
											
					<tr>
					<td>Total:<input type="text" th:field="*{total}" /></td>
				</tr>
				       <button type="submit" name="addRow">Add row</button>
				<tbody>
				<td>Product:</td>	
				<tr>
					 <td><select th:name ="orderItems[0].product"  class="form-control" >
						<th:block th:each="product : ${listProducts}">
							<option th:text="${product.name}" th:value="${product.id}"/>
						</th:block>
					</select>
					</td>
					<td>Qty:
					<input type="number" name="orderItems[0].qty" />
					</td>
				</tr>			
				<tr>
					 <td><select th:name ="orderItems[1].product"  class="form-control" >
						<th:block th:each="product : ${listProducts}">
							<option th:text="${product.name}" th:value="${product.id}"/>
						</th:block>
					</select>
					</td> 
					<td>Qty:
					<input type="number" name="orderItems[1].qty" />
					</td>
				</tr>
				<tr>
					 <td><select th:name ="orderItems[2].product"  class="form-control" >
						<th:block th:each="product : ${listProducts}">
							<option th:text="${product.name}" th:value="${product.id}"/>
						</th:block>
					</select>
					</td> 
					<td>Qty:
					<input type="number" name="orderItems[2].qty" />
					</td>
				</tr>									
				</tbody>		
			
			</table>



			
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
      </form>
    </div>
  </div>
</div>




 <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsOModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailsModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
			<table border="0" cellpadding="10" id="myTable">
				<tbody>	
				<tr th:each="order : ${listOrder}">
					<td>
		            <p th:each="orderItem : ${order.orderItems}">
		                <span th:text="${orderItem.product.name}">Street</span>
		                <span th:text="${orderItem.qty}">City</span>
		                <span th:text="${orderItem.amount}">ZIP</span>
		            </p>
		        </td>
				</tr>			
				</tbody>		
			
			</table>



			
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>





<th:block th:include="layout :: script"></th:block>