<th:block th:include="layout :: top"></th:block>
<th:block th:include="layout :: menu"></th:block>

<div id="page-content-wrapper" class="container-fluid">


	<h1>Product Management</h1>

<div sec:authorize="hasAnyAuthority('ADMIN')" class="ml-3 mb-5 mt-3">
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProductModal">
  Add product
	</button>
	</div>
<div class="container">
	<table cellpadding="10" class="table table-striped ">
		<thead>
			<tr>
				<th>Product ID</th>
				<th>Name</th>
				<th>Brand</th>
				<th>Category</th>
				<th>Quantity</th>
				<th>Price</th>
				
				<th sec:authorize="hasAnyAuthority('ADMIN')">Actions</th>				
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="product : ${listProducts}">
				<td th:text="${product.id}">Product ID</td>
				<td th:text="${product.name}">Name</td>
				<td th:text="${product.brands.name}">Brand</td>
				<td th:text="${product.category.categoryName}">Category</td>
				<td th:text="${product.qty}">Quantity</td>
				<td th:text="${product.price}">Price</td>
				
				<td sec:authorize="hasAnyAuthority('ADMIN')">
					<a th:href="@{/findProduct/(id=${product.id})}" class="btn text-info editProd">
						<i class="material-icons">create</i></a>			
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a sec:authorize="hasAuthority('ADMIN')" th:href="@{'/delete/' + ${product.id}}">
						<i class="material-icons text-danger">delete</i></a>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
    </div>
    
    <!-- /#page-content-wrapper -->
    
	 <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addPModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addPModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="#" th:action="@{/save}" th:object="${product}" method="post">
      <div class="modal-body">
      
			<table border="0" cellpadding="10">
				<tr>
					<td>Product ID:</td>
					<td><input type="text" th:field="*{id}" readonly="readonly" /></td>
				</tr>			
				<tr>
					<td>Product Name:</td>
					<td><input type="text" th:field="*{name}" /></td>
				</tr>
				<tr>
					<td>Brand:</td>
					<td><select th:field="*{brands}" class="form-control" >
						<th:block th:each="brands : ${listBrands}">
							<option th:text="${brands.name}" th:value="${brands.id}"/>
						</th:block>
					</select>
					</td>
				</tr>				
				<tr>
					<td>Category</td>
					<td><select th:field="*{category}" class="form-control" >
						<th:block th:each="category : ${listCategories}">
							<option th:text="${category.categoryName}" th:value="${category.id}"/>
						</th:block>
					</select>
					</td>
				</tr>				
				<tr>
					<td>Price:</td>
					<td><input type="text" th:field="*{price}" /></td>
				</tr>	
					<tr>
					<td>Qty:</td>
					<td><input type="text" th:field="*{qty}" /></td>
				</tr>			
			</table>
			
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
      </form>
    </div>
  </div>
</div>

  <!-- Modal -->
      <div class="editProductForm">
        <form action="#" method="post" th:action="@{/save}" th:object="${product}">
            <div aria-hidden="true" aria-labelledby="editProductModalLabel" class="modal fade"
                 id="editProductModal" role="dialog"
                 tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editProductModalLabel">Update or
                                Create</h5>
                            <button aria-label="Close" class="close" data-dismiss="modal"
                                    type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-form-label" for="id">ID:</label>
                                <input class="form-control" id="id" name="id" type="text" value=""/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label" for="name">Name:</label>
                                <input class="form-control" id="name" th:field="*{name}"  name="name" type="text" value=""/>
                            </div>
                             <div class="form-group">
                                <label class="col-form-label" for="brand">Brand:</label>
                                <select th:field="*{brands}" >
									<th:block th:each="brands : ${listBrands}">
										<option th:text="${brands.name}" th:value="${brands.id}" name="brand" id="brand"/>
									</th:block>
								</select>
                            </div>
                             <div class="form-group">
                                <label class="col-form-label" for="id">Category:</label>
                                <select th:field="*{category}" >
									<th:block th:each="category : ${listCategories}">
										<option th:text="${category.categoryName}" th:value="${category.id}" name="category" id="category"/>
									</th:block>
								</select>
                            </div>
                             <div class="form-group">
                                <label class="col-form-label" for="price">Price:</label>
                                <input class="form-control" id="price" th:field="*{price}"  name="price" type="text" value=""/>
                            </div>
                             <div class="form-group">
                                <label class="col-form-label" for="qty">Qty:</label>
                                <input class="form-control" id="qty" th:field="*{qty}"  name="qty" type="text" value=""/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal"
                                    type="button">Close
                            </button>
                            <input class="btn btn-primary" type="submit" value="save"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    
    




<th:block th:include="layout :: script"></th:block>