<th:block th:include="layout :: top"></th:block>
<th:block th:include="layout :: menu"></th:block>


<div class="container mt-4">
<div sec:authorize="hasAnyAuthority('ADMIN')" class="mb-3 float-right">
	<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#addUserModal">
  New User<i class="material-icons">add</i>
	</button>
	</div>
<div class="row">
<h2 class="mr-2">Users Management</h2>
<th:block th:include="layout :: alerts"></th:block>
</div>
	<table cellpadding="10" class="table table-striped">
		<thead >
			<tr>
				<th>
    				<a th:href="@{'/users/page/' + ${currentPage} + '?sortField=id&sortDir=' + 
    			${reverseSortDir}}">User ID</a>
				</th>
				<th>
    				<a th:href="@{'/users/page/' + ${currentPage} + '?sortField=username&sortDir=' + 
    			${reverseSortDir}}">Username</a>
				</th>
				<th>
    				<a th:href="@{'/users/page/' + ${currentPage} + '?sortField=enabled&sortDir=' + 
    			${reverseSortDir}}">Active</a>
				</th>
				<th>
    				<a th:href="@{'/users/page/' + ${currentPage} + '?sortField=role&sortDir=' + 
    			${reverseSortDir}}">Roles</a>
				</th>

				
				<th sec:authorize="hasAnyAuthority('ADMIN')">Actions</th>				
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${listUsers}">
				<td th:text="${user.id}">User ID</td>
				<td th:text="${user.username}">UserName</td>
				<td th:text="${user.enabled}">Enabled</td>
				<td th:text="${user.roles}">Roles</td>
				
			<td sec:authorize="hasAnyAuthority('ADMIN')">
          <a th:href="@{'/users/edit/' + ${user.id}}" class="btn text-info">
            <i class="material-icons">create</i></a>			
					&nbsp;&nbsp;&nbsp;&nbsp;
          <a sec:authorize="hasAuthority('ADMIN')" th:href="@{'/delete_user/' + ${user.id}}">
            <i class="material-icons text-danger">delete</i></a>
				</td>
			</tr>
		</tbody>
	</table>
	
	<div class="container  badge " style="font-size:15px;">
	 <a th:if="${currentPage > 1}" th:href="@{'/users' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"> First</a>
	<span  th:unless="${currentPage > 1}">First</span>
	<a th:if="${currentPage > 1}" th:href="@{'/users/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
	<span th:unless="${currentPage > 1}">Previous</span>
	<span th:each="i: ${#numbers.sequence(1, totalPages)}">
    <a th:if="${currentPage != i}" th:href="@{'/users/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
    <span th:unless="${currentPage != i}">[[${i}]]</span>
    &nbsp;
	</span>
	<a th:if="${currentPage < totalPages}" th:href="@{'/users/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
	<span th:unless="${currentPage < totalPages}">Next</span>
	<a th:if="${currentPage < totalPages}" th:href="@{'/users/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
	<span th:unless="${currentPage < totalPages}">Last</span>
	</div> 
	</div>
    </div>
    
    <!-- /#page-content-wrapper -->
    
    	 <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addUserModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="#" th:action="@{/save_user}" th:object="${user}" method="post">
      <div class="modal-body">
      
			<table border="0" cellpadding="10">
				<tr>
					<td>User ID:</td>
					<td><input type="text" th:field="*{id}" readonly="readonly" /></td>
				</tr>			
				<tr>
					<td> Username:</td>
					<td><input type="text" th:field="*{username}" /></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><input type="password" th:field="*{password}"/></td>
				</tr>		
				<tr>
				<td>Roles:</td>
				<td>
					<th:block th:each="role : ${listRoles}">
							<input type="checkbox" th:field="*{roles}" th:text="${role.name}"
							th:value="${role.id}"/>
					</th:block>
			   </td>
			   </tr>
			   <tr>
				   <td>Enable:</td>
				   <td>
					   <input type="checkbox" th:field="*{enabled}" th:value="${user.enabled}">
				   </td>
			   </tr>
			</table>
			
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
      </form>
    </div>
  </div>
</div>


  <!-- Modal -->
      <div class="editUserForm">
        <form action="#" method="post" th:action="@{/save_user}" th:object="${user}">
            <div aria-hidden="true" aria-labelledby="editUserLabel" class="modal fade"
                 id="editUserModal" role="dialog"
                 tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editUserModalLabel">Update or
                                Create</h5>
                            <button aria-label="Close" class="close" data-dismiss="modal"
                                    type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-form-label" for="id">ID:</label>
                                <input class="form-control" id="id" name="id" type="text" value=""/>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label" for="username">Name:</label>
                                <input class="form-control" id="username" th:field="*{username}"  name="username" type="text" value=""/>
                            </div>
                             <div class="form-group">
                                <label class="col-form-label" for="password">Password:</label>
                                <input class="form-control" id="password" th:field="*{password}"  name="password" type="password" value=""/>
                            </div> 
                              <div class="form-group">
                            	<label class="col-form-label" for="roles">Roles:</label>
								<th:block th:each="role : ${allRoles}">
									<div>
										<input type="checkbox" th:field="*{roles}" th:text="${role.name}" th:value="${role.id}" class="m-2">
									</div>	
								</th:block>
								

								
							</th:block>
                            </div>   
                            <div class="form-group">
                            <label class="col-form-label" for="enabled">Enabled:</label>
                            	<select class="form-control"  th:name="*{enabled}" id="enabled">
									<option th:value="0">false</option>
									<option selected th:value="1">true</option>
                            	</select>
                     
                            </div>                        
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal"
                                    type="button">Close
                            </button>
                            <input class="btn btn-primary" type="submit" value="save"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    


<th:block th:include="layout :: script"></th:block>